# Ignore node_modules di mana saja dalam backend dan frontend
/backend/node_modules/
/frontend/node_modules/

# Ignore package-lock.json di backend dan frontend
/backend/package-lock.json
/frontend/package-lock.json